@page "/Game"
@using BattleShip.App.Components
@using BattleShip.App.Services
@using BattleShip.Models
@inject LocalGameReplication LocalGameReplication
@inject NavigationManager Navigation

<div id="game-view">

    <div id="player1-view" class="player-view">
        <p class="player-name">Player 1</p>
        <div class="player-grid">
            <GameGrid
                Rows="@_gameData.Settings.GridHeight"
                Columns="@_gameData.Settings.GridWidth"
                CellClicked="OnCellClickSelf"
                Ships="@_playerShips"/>
        </div>
    </div>

    <div id="vs-graphics">
        <p>VS</p>
    </div>

    <div id="player2-view" class="player-view">
        <p class="player-name">Player 2</p>
        <div class="player-grid">
            <GameGrid
                Rows="@_gameData.Settings.GridHeight"
                Columns="@_gameData.Settings.GridWidth"
                CellClicked="OnCellClickEnemy"
                Ships="_enemyShips"/>
        </div>
    </div>

</div>

<GameHubConnectionHandler/>

@code {

    private GameData _gameData = null!;

    private GameState _gameState = GameState.WaitingForPlayers;

    private List<ShipData> _playerShips = [];
    private List<ShipData> _enemyShips = [];

    protected override void OnInitialized()
    {
        base.OnInitialized();
        if (LocalGameReplication.GameData == null)
        {
            Navigation.NavigateTo("/");
            return;
        }

        _gameData = LocalGameReplication.GameData;
        LocalGameReplication.OnStateChanged += OnStateChanged;
        LocalGameReplication.OnShipsChanged += OnShipsChanged;
        Console.WriteLine($"Game started: {_gameData.Id} with grid size {_gameData.Settings.GridWidth}x{_gameData.Settings.GridHeight}");
        LocalGameReplication.SendReady();
    }

    private void OnCellClickSelf((int x, int y) parameters)
    {
        var (x, y) = parameters;
        Console.WriteLine($"Self clicked: {x}, {y}");
    }

    private void OnCellClickEnemy((int x, int y) parameters)
    {
        var (x, y) = parameters;
        Console.WriteLine($"Enemy clicked: {x}, {y}");
    }

    private void OnStateChanged(GameState state)
    {
        _gameState = state;
        Console.WriteLine($"Game state changed: {_gameState}");
        StateHasChanged();
    }

    private void OnShipsChanged(List<ShipData> ships)
    {
        _playerShips = ships;
        StateHasChanged();
    }

}